body {
    font-family: "Inika", serif;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

.logo {
    height: 200px;
}

.navbar {
    flex-direction: row !important;
    padding: 0;
    background-color: #db98ed !important;
    border-bottom: 6px solid #cccacd;
}


.searchbox {
    width: 720px;
    border: none;
    height: 65px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-right: 0;
}

.searchbox input {
    width: 620px;
    border: none;
    font-size: 28px;
    border-radius: 10px;
    padding-left: 20px;
    font-family: "Inter", sans-seriff;
}

.searchbox i {
    width: 70px;
    height: 70px;
    padding-top: 20px;
    margin-left: 100px;
    font-size: 28px;
    margin-right: 20px;
}

.btn {
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: rgb(18, 172, 18);
    font-size: 22px;
    font-weight: bold;
    color: black
}

.navbar-nav {
    list-style-type: none;
    flex-wrap: wrap;
}

.navbar-nav a {
    text-decoration: none;
    color: black;
    font-size: 22px;
}

nav ul li {
    margin-left: 40px;
    margin-top: 40px;
}

footer ul {
    list-style-type: none;
    font-size: 18px;
    margin-left: 0;
    padding-left: 0;
}

footer ul li {
    margin-bottom: 20px;
    font-weight: 500;
}

footer {
    font-family: "Inter", sans-serif;
    background-color: #E7FF5F;
    height: auto;
    padding-top: 40px;
    padding-bottom: 10px;
}

footer h5 {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 18px;
}

.foot-logo {
    height: auto;
    display: flex;
    justify-content: right;
    padding-right: 50px;
    margin-bottom: 0;
}

.card1 {
    height: 380px;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    background-color: #db98ed;
    margin-top:250px;
    padding: 30px;
    gap: 30px;
}

.card-img {
    width: 350px;
    height: 300px;
    border-radius: 10px;
}

.card-body h2 {
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 50px;
    margin-left:60px ;
    margin-top: 20px;
}

.card-body p {
    font-size: 28px;
}

.card2 {
    height: 380px;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    background-color: #f7b96c;
    margin-top: 50px;
    padding: 30px;
    gap: 30px;
}
.card2 h2{text-align: left;font-weight: 600;font-size: 32px;margin-left: 70px;margin-top: 20px;margin-bottom: 20px;}
.card2 p{margin-left: 50px;font-size: 27px;}
.card3 {
    height: 380px;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    background-color: #E7FF5F;
    margin-top: 50px;
    padding: 30px;
    gap: 30px;
    margin-bottom: 140px;
}
.card3 p{margin-left: 15px;}

@media (max-width:600px) {
    .foot-logo {
        justify-content: center;
    }

    footer {
        text-align: center;
    }

    .searchbox {
        width: 50%;
        height: 50px;
        margin-bottom: 10px;
    }

    .searchbox input {
        width: auto;
        height: auto;
        font-size: 15px;
    }

    .searchbox i {
        display: none;
    }

    .bell {
        display: none;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .navbar ul li {
        margin: 0 !important;
        gap: 10px
    }

    body {
        width: 100%;
        overflow-x: hidden;
    }
    .card1,.card2,.card3{flex-direction: column;height: auto;text-align: left;}
}

@media (min-width:601px) and (max-width:1024px) {
    .searchbox {
        width: 50%;
        height: 50px;
        margin-bottom: 10px;
    }

    .searchbox input {
        width: auto;
        height: auto;
        font-size: 15px;
    }

    .searchbox i {
        display: none;
    }

    .bell {
        display: none;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .navbar ul li {
        margin: 0 !important;
        gap: 10px
    }

    body {
        width: 100%;
        overflow-x: hidden;
    }
    .card1,.card2,.card3{flex-direction: column;height: auto;}
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Wrapper for whole content */
.page-slide {
    animation: slideIn 1s ease-out;
}